extends layout/layout.pug

block script
  script(src='/js/app/assignment.js', data-assignments=`${dataSets.reforms.assignment}`, data-sectionId=`${dataSets.origins.section.section_id}`)
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')

  style.
    @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
        position: fixed;
        margin-top: 20px;
        bottom: 0;
        width: 100%;
      }
    }

block content
  +assignmentModal()

  .ui.raised.very.padded.text.container.segment
    if user.info.occupation == 'teacher'
      .ui.right.aligned.grid
        .right.floated.right.aligned.six.wide.column
          button.ui.icon.button#editAssignment(onclick='showAssignmentModal('+`${dataSets.reforms.assignment}`+')' style="background-color: #0000;")
            i.edit.outline.icon(style="font-size: 25px; margin-top: 8px;")
    .ui.grid
      .column
        h1(style="text-align: center;") !{dataSets.origins.assignment.title}
    .ui.grid
      .column
        .ui.segment
          .text-container
            textarea.textarea-assignment !{dataSets.origins.assignment.description}
    .ui.grid
      .doubling.two.column.row
        .column
          h3.ui.header Input Specification
          .ui.segment
            p !{dataSets.origins.assignment.input_specification}
        .column
          h3.ui.header Output Specification
          .ui.segment
            p !{dataSets.origins.assignment.output_specification}
      .doubling.two.column.row
        .column
          h3.ui.header Sample Input
          .ui.segment
            p !{dataSets.origins.assignment.sample_input}
        .column
          h3.ui.header Sample Output
          .ui.segment
            p !{dataSets.origins.assignment.sample_output}
    //- a.button.ui.labeled.icon.button(href=`/classroom/section/${dataSets.origins.section.section_id}`, style='margin-top:20px;')
    //-   i.reply.icon
    //-   font Back
