extends layout/layout.pug

block script
    script(src='/js/app/classroom.js')
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript').
      $(document).ready(function () {
        $('#assignment-modal').modal({
          closable: false,
          transition: 'fade up',
          onApprove : function() {
            //$('.ui.form').submit();
            return false;
          },
        })
        $('.ui.form.createAssignment').form({
          fields: {
            title: {
              identifier: 'title',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your title'
                }
              ]
            },
            description: {
              identifier: 'description',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your description'
                }
              ]
            },
            input_specification: {
              identifier: 'input_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your input specification'
                }
              ]
            },
            output_specification: {
              identifier: 'output_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your output specification'
                }
              ]
            },
            sample_input: {
              identifier: 'sample_input',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample input'
                }
              ]
            },
            sample_output: {
              identifier: 'sample_output',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample output'
                }
              ]
            }
          },
          onSuccess : function() {
            $('#assignment-modal').modal('hide');
          },
        })
      });
      function showDeleteModal(){
        $('#delete-modal').modal('show')
      }
      function showAssignmentModal(){
        $('#assignment-modal').modal('show')
      }

    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      width: 100%;
      }
      }

block content
  .ui.segment.container
    .ui.two.column.grid
      .middle.aligned.column
        h1.ui.header !{assignment.title}
      if user.info.occupation == 'teacher'
        .right.aligned.column
          .ui.button.approve.grey#edit-assignment(onclick='showAssignmentModal()') Edit
            .ui.small.modal#assignment-modal
              i.close.icon
              .header Assignment
              .content
                form.ui.form.createAssignment.segment(action='/assignment/updateAssignment', method='POST')
                  .field
                    label Title :
                    |
                    input(type='text', name='title', placeholder='Your title', value=`${assignment.title}`)
                  .field
                    label Description :
                    |
                    textarea#description(type='text', name='description', placeholder='Some content...', style='resize:none;') !{assignment.description}
                  .ui.grid
                    .two.column.row
                      .column
                        .field
                          label Input specification :
                          |
                          textarea#input_specification(row='2', type='text', name='input_specification', placeholder='Input specification...', style='resize:none;') !{assignment.input_specification}
                      .column
                        .field
                          label Output specification :
                          |
                          textarea#output_specification(row='2', type='text', name='output_specification', placeholder='Output specification...', style='resize:none;') !{assignment.output_specification}
                  .ui.grid
                    .two.column.row
                      .column
                        .field
                          label Sample Input :
                          |
                          textarea#sample_input(row='2', type='text', name='sample_input', placeholder='Sample Input...', style='resize:none;') !{assignment.sample_input}
                      .column
                        .field
                          label Sample Output :
                          |
                          textarea#sample_output(row='2', type='text', name='sample_output', placeholder='Sample Output...', style='resize:none;') !{assignment.sample_output}
                  input(type='hidden', name='assignment_id', value=`${assignment.assignment_id}`)
                  input(type='hidden', name='section_id', value=`${section_id}`)
                  .ui.basic.center.aligned.segment
                    .actions
                      button.ui.button.approve.green(type='submit') Create
                      .ui.button.cancel.red(data-value='cancel') Cancel
                  .ui.error.message
                  script.
                    $(document).ready(function () {
                      $('#edit-assignment').click(function(){
                        var assignment = !{JSON.stringify(assignment)}
                        console.log("assignment : ",  assignment)
                        assignment.description = assignment.description.replace(/<br>/g, "\n")
                        assignment.input_specification = assignment.input_specification.replace(/<br>/g, "\n")
                        assignment.output_specification = assignment.output_specification.replace(/<br>/g, "\n")
                        assignment.sample_input = assignment.sample_input.replace(/<br>/g, "\n")
                        assignment.sample_output = assignment.sample_output.replace(/<br>/g, "\n")
                        $('#description').text(assignment.description)
                        $('#input_specification').text(assignment.input_specification)
                        $('#output_specification').text(assignment.output_specification)
                        $('#sample_input').text(assignment.sample_input)
                        $('#sample_output').text(assignment.sample_output)
                      })
                    })
          //- .ui.button.approve.red(onClick=`showDeleteModal()`) Delete
          //-   .ui.small.modal(id='delete-modal')
          //-     .header Delete Assignment
          //-     .content
          //-       p Do you want to delete this assignment?
          //-     .actions
          //-       .ui.button.approve.green(onClick=`deleteAssignment()`) Delete
          //-       .ui.button.approve.red(data-value='cancel') Cancel
    .ui.two.column.grid
      .column(style="display: flex;")
        .ui.segment(style="flex: 1;")
          p !{assignment.description}
      .column
        .ui.two.column.grid
          .row
            .eight.wide.column
              h3.ui.header Input Specification
              .ui.segment
                p !{assignment.input_specification}
            .eight.wide.column
              h3.ui.header Output Specification
              .ui.segment
                p !{assignment.output_specification}
          .row
            .eight.wide.column
              h3.ui.header Sample Input
              .ui.segment
                p !{assignment.sample_input}
            .eight.wide.column
              h3.ui.header Sample Output
              .ui.segment
                p !{assignment.sample_output}
    a.button.ui.labeled.icon.button(href='/classroom?section_id='+section_id, style='margin-top:20px;')
      i.reply.icon
      font Back
