extends layout/layout.pug

block script
    script(src='/js/app/dashboard.js')
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript').
      const options = {}
      $.ajax({
        url: '/api/usernames',
        success: function (result) {
          options.data = result
          console.log(options)
        }
      })
      $(document).ready(function () {
        $('.newProject').click(function () {
          $('#newProject-modal').modal('show');
        });
      });
    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      width: 100%;
      }
      }

block content
    .ui.small.modal#newProject-modal
      i.close.icon
      .header Create New Project
      .content
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |
            input(type='text', name='title', placeholder='Your Project Name')
          .field
            label Description :
            |
            input(type='text', name='description', placeholder='Something about your project')
          .content
            .ui.grid
              .six.wide.column
                .field
                  label Language :
                  select.ui.dropdown(name='language')
                    option(value='0') Python
              .six.wide.column
                .field
                  label Buddy ID :
                  |
                  input(type='hidden' name='creator_id' value=user._id)
                  input(type='hidden' name='creator' value=user.username)
                  input#collaborator-hidden(type='hidden' name='collaborator')
                  input#collaborator(type='text',name='collaborator', placeholder='Search users...', disabled)
              .four.wide.column
                  button.ui.positive.labeled.icon.button(id='add-collaborator' type='button')
                    i.user.icon
                    |  Add
          .field
            label Time  :
            select.ui.dropdown(name='swaptime')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
               option(value='1') 1 minute
            input(type='hidden' name='status' value="pending")
          .ui.form
            .inline.fields
              //- .fields
              //-   label(for='theme') Select your theme:
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', checked='', tabindex='0')
              //-       |
              //-       label White (default)
              //-       img.logo.small(src='images/whiteEditorTheme.PNG' ,width='80%', height='15%')
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', tabindex='0')
              //-       |
              //-       label Blackboard
              //-       img.logo.small(src='images/darkEditorTheme.PNG' ,width='80%',height='15%')

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel

    .ui.raised.very.padded.container
      .ui.centered.grid(style='padding-top:20px;')
        .five.wide.column
          .ui.segments
            .ui.red.inverted.segment
              .item
                .content
                  b(style='font-size:1.2em;')
                    header= section.course_name
                  .description
                    p   Section !{section.section} Room !{section.room}
                    p   !{section.day} !{section.time_start}. - !{section.time_end}.
            .ui.segment
              .ui.items
                .item
                  .content
                    .description
                      p
                        i.student.icon
                        font(color='blue') Students
                .item
                  .content
                    .description
                      p
                        i.setting.icon
                        font(color='blue') Settings

        .ten.wide.column
          .ui.segment
            .ui.two.column.doubling.stackable.grid.container(style='padding-top:20px;')
              .column
                case occupation
                  when 0
                    h1.ui.header Assignments
                  default
                    h1.ui.header My Projects
              .right.column
                a.right
                  case occupation
                    when 0
                      button#new.ui.button.approve.green.newClassroom(style='float: right;') Create New Assignment
                    default
                      button#new.ui.button.approve.green.joinClassroom(style='float: right;') Create New Project
            //- .ui.items.segment
              if sections.length > 0
                each section in sections
                  if user.info.occupation === 'teacher'
                          .item(id=`${section.section_id}`, style='padding-top:2px; padding-bottom:5px;')
                              .content
                                  .ui.grid
                                      .eleven.wide.column
                                          b(style='font-size:1.2em;')
                                              header= section.course_name
                                          .description
                                              p   Section !{section.section} Room !{section.room}
                                              p   !{section.day} !{section.time_start}. - !{section.time_end}.
                                      .five.wide.column
                                          a.ui.right.floated.alignedvertical.animated.enterToClass.button(href='/classroom?course_id='+section.course_id+'&course_name='+section.course_name)
                                              .hidden.content Edit
                                              .visible.content
                                                  i.setting.icon
                  else
                    p.text-center No classroom.
            //
