extends layout/layout.pug

block script
    script(src='/js/app/classroom.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js') 
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript').
      $(document).ready(function () {
        $('#settings-modal').modal({
          closable: false,
          transition: 'fade up',
          onApprove : function() {
            //$('.ui.form').submit();
            return false;
          },
        })
        $('#assignment-modal').modal({
          closable: false,
          transition: 'fade up',
          onApprove : function() {
            //$('.ui.form').submit();
            return false;
          },
        })
        $('#alert-modal').modal({
          closable: false,
          transition: 'fade up',
        })
        $('.newProject').click(function () {
          $('#newProject-modal').modal('show');
        });
        $('.first_container_menu').click(function () {
          showFirstContainer()
        });
        $('.second_container_menu').click(function () {
          showSecondContainer()
        });
        $('.third_container_menu').click(function () {
          showThirdContainer()
        });
        $('.settings-menu').click(function () {
          var day = '!{data_set.common.section.day}'
          var time_start = '!{data_set.common.section.time_start}'
          var time_end = '!{data_set.common.section.time_end}'
          var time_start_hh = time_start[0] + time_start[1]
          var time_start_mm = time_start[3] + time_start[4]
          var time_start_ap = time_start[5] + time_start[6]
          var time_end_hh = time_end[0] + time_end[1]
          var time_end_mm = time_end[3] + time_end[4]
          var time_end_ap = time_end[5] + time_end[6]
          $('.day option[value=\'' + day + '\']').attr('selected', 'selected');
          $('.timeStartHh option[value=' + time_start_hh + ']').attr('selected', 'selected');
          $('.timeStartMm option[value=' + time_start_mm + ']').attr('selected', 'selected');
          $('.timeStartAp option[value=' + time_start_ap + ']').attr('selected', 'selected');
          $('.timeEndHh option[value=' + time_end_hh + ']').attr('selected', 'selected');
          $('.timeEndMm option[value=' + time_end_mm + ']').attr('selected', 'selected');
          $('.timeEndAp option[value=' + time_end_ap + ']').attr('selected', 'selected');
          $('.ui.form').trigger('reset');
          $('.ui.form .field.error').removeClass('error');
          $('.ui.form.error').removeClass('error');
          $('#settings-modal').modal('show');
        });
        $('.ui.form.updateSection').form({
          fields: {
            course_name: {
              identifier: 'course_name',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your course name'
                }
              ]
            },
            section: {
              identifier: 'section',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your section'
                },
                {
                  type : 'regExp[[0-9]]',
                  prompt : 'This section is not valid!'
                }
              ]
            },
            room: {
              identifier: 'room',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your room'
                }
              ]
            }
          },
          onSuccess : function() {
            $('#newClassroom-modal').modal('hide');
          },
        })
        $('.newAssignment').click(function (){
          $('#assignment-modal').modal('show')
        })
        $('.ui.form.createAssignment').form({
          fields: {
            title: {
              identifier: 'title',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your title'
                }
              ]
            },
            week: {
              identifier: 'week',
              rules: [
                {
                  type   : 'integer[1...100]',
                  prompt : 'Please enter an integer value'
                }
              ]
            },
            description: {
              identifier: 'description',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your description'
                }
              ]
            },
            input_specification: {
              identifier: 'input_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your input specification'
                }
              ]
            },
            output_specification: {
              identifier: 'output_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your output specification'
                }
              ]
            },
            sample_input: {
              identifier: 'sample_input',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample input'
                }
              ]
            },
            sample_output: {
              identifier: 'sample_output',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample output'
                }
              ]
            }
          },
          onSuccess : function() {
            $('#assignment-modal').modal('hide');
          },
        })
      });
      function showFirstContainer() {
        $('#first_container').show();
        $('#second_container').hide();
        $('#third_container').hide();
      }
      function showSecondContainer(){
        $('#first_container').hide();
        $('#second_container').show();
        $('#third_container').hide();
      }
      function showThirdContainer(){
        $('#first_container').hide();
        $('#second_container').hide();
        $('#third_container').show();
      }
    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      width: 100%;
      }
      }

block content
    input#pairing_session_id(type='hidden', value=data_set.common.pairing_sessions[0].pairing_session_id)
    input#section_id(type='hidden', value=`${data_set.common.section.section_id}`)
    +pairStudent(user, data_set.common.students, data_set.common.pairing_sessions, data_set.common.section)

    .ui.small.modal#alert-modal
      i.close.icon
      .header#alert-header Alert!
      .content
        p#alert-message Something content
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.cancel.green(data-value='cancel') OK

    .ui.small.modal#confirm-modal
      .header#confirm-header Alert!
      .content
        input#inp_cm(type='hidden')
        p#confirm-message Something message.
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green#confirm-button(type='submit') Confirm
            .ui.button.approve.red#cancel-button(data-value='cancel' onclick='on_click_cancel_button()') Cancel
            
    .ui.small.modal#assignment_management_modal
      i.close.icon
      .header#header_amd ปิดการใช้งานแบบฝึกหัด
      .content
        .ui.center.aligned.grid
          .column
            .ui.selection.dropdown#dropdown_amd
              input(id='week_input_amd' type='hidden')
              i.dropdown.icon
              .default.text Week
              .menu#week_amd
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green#confirm_assignment_management(type='submit') Confirm
            button.ui.button.approve.red#cancel_assignment_management(data-value='cancel') Cancel
          

    .ui.small.modal#assignment-end-time-modal
      i.close.icon
      .header ตั้งค่าเวลาสิ้นสุดแบบฝึกหัด
      .content
        .ui.grid
          .two.column.row
            .column(style='text-align:center;')
              b ปปปป/ดด/วว
              <br>
              .ui.labeled.input
                select.ui.dropdown#year_a(name='year')
                  .ui.label
                    b(color='black') /
                select.ui.dropdown#month_a(name='month')
                  .ui.label
                    b(color='black') /
                select.ui.dropdown#day_a(name='day')
            .column(style='text-align:center;')
              b ช:น:ว
              <br>
              .ui.labeled.input
                select.ui.dropdown#endTimeHh_a(name='end_time_hh')
                .ui.label
                  b(color='black') :
                select.ui.dropdown#endTimeMm_a(name='end_time_mm')
                .ui.label
                  b(color='black') :
                select.ui.dropdown#endTimeSs_a(name='end_time_ss')
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green#assign_now(type='submit') Assign now!
            .ui.button.cancel.red(data-value='cancel') Cancel 
                     
    .ui.small.modal#settings-modal
      i.close.icon
      .header Settings Classroom
      .content
        form.ui.form.updateSection.segment(action='/classroom/updateSection', method='POST')
          .field
            label Class Name :
            |
            input(type='text', name='course_name', placeholder='Your class name', value=`${data_set.common.section.course_name}`)
          .ui.grid
            .two.column.row
              .column
                .field
                  label Section :
                  |
                  input(type='text', name='section', placeholder='Your section', maxlength='3', value=`${data_set.common.section.section}`)
              .column
                .field
                  label Room :
                  |
                  input(type='text', name='room', placeholder='Your room', maxlength='4', value=`${data_set.common.section.room}`)
          .ui.grid
            .four.wide.column
              .field
                label Day  :
                select.ui.dropdown.day(name='day')
                   option(value='Mon.') Monday
                   option(value='Tue.') Tuesday
                   option(value='Wed.') Wednesday
                   option(value='Thu.') Thursday
                   option(value='Fri.') Friday
                   option(value='Sat.') Saturday
                   option(value='Sun.') Sunday
            .six.wide.column(style='text-align:center;')
              b Time start
              .ui.labeled.input
                select.ui.dropdown.timeStartHh(name='time_start_hh')
                  option(value='00')  00
                  option(value='01')  01
                  option(value='02')  02
                  option(value='03')  03
                  option(value='04')  04
                  option(value='05')  05
                  option(value='06')  06
                  option(value='07')  07
                  option(value='08')  08
                  option(value='09')  09
                  option(value='10')  10
                  option(value='11')  11
                  option(value='12')  12
                .ui.label
                  b(color='black') :
                select.ui.dropdown.timeStartMm(name='time_start_mm')
                  option(value='00')  00
                  option(value='05')  05
                  option(value='10')  10
                  option(value='15')  15
                  option(value='20')  20
                  option(value='25')  25
                  option(value='30')  30
                  option(value='35')  35
                  option(value='40')  40
                  option(value='45')  45
                  option(value='50')  50
                  option(value='55')  55
                select.ui.dropdown.timeStartAp(name='time_start_ap')
                  option(value='am.')  am.
                  option(value='pm.')  pm.
            .six.wide.column(style='text-align:center;')
              b Time end
              <br>
              .ui.labeled.input
                select.ui.dropdown.timeEndHh(name='time_end_hh')
                  option(value='00')  00
                  option(value='01')  01
                  option(value='02')  02
                  option(value='03')  03
                  option(value='04')  04
                  option(value='05')  05
                  option(value='06')  06
                  option(value='07')  07
                  option(value='08')  08
                  option(value='09')  09
                  option(value='10')  10
                  option(value='11')  11
                  option(value='12')  12
                .ui.label
                  b(color='black') :
                select.ui.dropdown.timeEndMm(name='time_end_mm')
                  option(value='00')  00
                  option(value='05')  05
                  option(value='10')  10
                  option(value='15')  15
                  option(value='20')  20
                  option(value='25')  25
                  option(value='30')  30
                  option(value='35')  35
                  option(value='40')  40
                  option(value='45')  45
                  option(value='50')  50
                  option(value='55')  55
                select.ui.dropdown.timeEndAp(name='time_end_ap')
                  option(value='am.')  am.
                  option(value='pm.')  pm.
          input(type='hidden', name='course_id', value=`${data_set.common.section.course_id}`)
          input(type='hidden', name='section_id', value=`${data_set.common.section.section_id}`)
          .ui.basic.center.aligned.segment
            .actions
              button.ui.button.approve.green(type='submit') Update
              .ui.button.cancel.red(data-value='cancel') Cancel
          .ui.error.message

    .ui.small.modal#assignment-modal
      i.close.icon
      .header Assignment
      .content
        form.ui.form.createAssignment.segment(action='/assignment', method='POST')
          .inline.fields
            label Programming Style :
            .field
              .ui.radio.checkbox
                input(type='radio' name='programming_style' value='Co-located' checked='checked')
                |  
                label Co-located ( ทำ Pair แบบดั้งเดิม )
            .field
              .ui.radio.checkbox
                input(type='radio' name='programming_style' value='Remote')
                |  
                label Remote ( ทำ Pair ทางไกลคนละเครื่อง )
          .ui.grid
            .thirteen.wide.column
              .field
                label Title :
                |
                input(type='text', name='title', placeholder='Your title')
            .three.wide.column
              .field
                label Week :
                |
                input(type='text', name='week', placeholder='Week', maxlength='3')
          .field
            label Description :
            |
            textarea(type='text', name='description', placeholder='Some content...', style='resize:none;')
          .ui.grid
            .two.column.row
              .column
                .field
                  label Input specification :
                  |
                  textarea(row='2', type='text', name='input_specification', placeholder='Input specification...', style='resize:none;')
              .column
                .field
                  label Output specification :
                  |
                  textarea(row='2', type='text', name='output_specification', placeholder='Output specification...', style='resize:none;')
          .ui.grid
            .two.column.row
              .column
                .field
                  label Sample Input :
                  |
                  textarea(row='2', type='text', name='sample_input', placeholder='Sample Input...', style='resize:none;')
              .column
                .field
                  label Sample Output :
                  |
                  textarea(row='2', type='text', name='sample_output', placeholder='Sample Output...', style='resize:none;')
          input(type='hidden', name='section_id', value=`${data_set.common.section.section_id}`)
          .ui.basic.center.aligned.segment
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.cancel.red(data-value='cancel') Cancel
          .ui.error.message
          
    .ui.raised.very.padded.container
      .ui.centered.grid(style='padding-top:20px;')
        +detailSection()
        .ten.wide.column#first_container
          .ui.segment#segment_in_first_container
            .ui.two.column.doubling.stackable.grid.container#ui_two_column_in_first_container(style='padding-top:20px; margin-bottom:20px;')
              .column
                if user.info.occupation === 'teacher'
                  h1.ui.header#headerContainer Assignment
                else
                  h1.ui.header#headerContainer My Project
              .right.column
                div
                  .ui.selection.dropdown#weeks(style='float: right;')
                    i.dropdown.icon
                    if data_set.common.weeks.length > 0
                      .default.text Select week
                    else
                      .default.text No week
                    .menu#menu_week(name='status')
                      if data_set.common.weeks.length > 0
                        if user.info.occupation === 'teacher'
                          .item#-1week(data-value='-1' onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`${data_set.json.assignments}`+', \''+`${user.username}`+'\', \''+`${user.img}`+'\', '+`${data_set.common.pairing_sessions[0].pairing_session_id}`+', 0)') All
                        else
                          .item#-1week(data-value='-1' onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`${data_set.json.projects}`+', \''+`${user.username}`+'\', \''+`${user.img}`+'\', '+`${data_set.common.pairing_sessions[0].pairing_session_id}`+', 1)') All
                      each week in data_set.common.weeks
                        if user.info.occupation === 'teacher'
                          .item(id=`${week}`+'week'  data-value=''+`${week}` onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`${data_set.json.assignments}`+', \''+`${user.username}`+'\', \''+`${user.img}`+'\', '+`${data_set.common.pairing_sessions[0].pairing_session_id}`+', 0)') !{week}
                        else
                          .item(id=`${week}`+'week'  data-value=''+`${week}` onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`${data_set.json.projects}`+', \''+`${user.username}`+'\', \''+`${user.img}`+'\', '+`${data_set.common.pairing_sessions[0].pairing_session_id}`+', 1)') !{week}
                  script(type='text/javascript').
                    $('#weeks').dropdown();
            if user.info.occupation === 'teacher'
              .ui.secondary.pointing.menu#uspm
                a.item.active.uspm#c_r_u_d(onclick='on_click_button_in_uspm('+`$(this).attr('id')`+')') CRUD
                a.item.uspm#action_checkbox(onclick='on_click_button_in_uspm('+`$(this).attr('id')`+')') Checkbox
                a.item.uspm#other(onclick='on_click_button_in_uspm('+`$(this).attr('id')`+')') Other
              .ui.segment.active.uspm#c_r_u_d_segment(style='display: block')
                button.ui.button.approve.blue.newAssignment Create
                button.ui.button.approve.blue#delete_assignment_button Delete
              .ui.segment.uspm#action_checkbox_segment(style='display: none')
                button.ui.button.approve.blue#clear_checkbox(onclick='checkbox_event('+`${data_set.json.assignments}`+', \"-1week\", 0)') Clear Checkbox
                button.ui.button.approve.blue#check_all_of_box(onclick='checkbox_event('+`${data_set.json.assignments}`+', \"-1week\", 1)') Check All of Box
              .ui.segment.uspm#other_segment(style='display: none')
                button.ui.button.approve.blue#assign_button Assign
                button.ui.button.approve.blue#disable_assignment(onclick='on_click_disable_assignment_button()') Disable Assignment
                button.ui.button.approve.blue#enable_assignment(onclick='on_click_enable_assignment_button()') Enable Assignment
              .ui.section.divider#divider_in_first_container
              if data_set.common.assignments.length > 0
                script(type='text/javascript').
                  $(document).ready(function() {
                    on_click_weeks_dropdown('-1week', !{data_set.json.assignments}, `!{user.username}`, `!{user.img}`, `!{data_set.common.pairing_sessions[0].pairing_session_id}`, 0)
                  })
              else
                p.text-center#no_assignment No assignment.
            else
              if data_set.common.projects.length > 0
                script(type='text/javascript').
                  $(document).ready(function() {
                    on_click_weeks_dropdown('-1week', !{data_set.json.projects}, `!{user.username}`, `!{user.img}`, `!{data_set.common.pairing_sessions[0].pairing_session_id}`, 1)
                  })
              else
                p.text-center No project.  
            
        .ten.wide.column#second_container(style='display:none;')
          .ui.segment#segment_in_second_container
            .ui.two.column.doubling.stackable.grid.container#ui_two_column_in_second_container(style='padding-top:20px; margin-bottom:20px;')
              .column
                h1.ui.header#headerContainer Student
            if data_set.common.students.length > 0
              script(type='text/javascript').
                set_item_pagination_in_second_container(!{data_set.json.students}, "!{data_set.common.section.section_id}", "!{user.info.occupation}")
                on_click_page_number_in_second_container(1)
            else
              p.text-center No student.  
                      
        .ten.wide.column#third_container(style='display:none;')
          .ui.segment#segment_in_third_container
            .ui.two.column.doubling.stackable.grid.container#ui_two_column_in_third_container(style='padding-top:20px; margin-bottom:20px;')
              .column
                if user.info.occupation === 'teacher'
                  h1.ui.header#headerContainer Pairing Session
                else
                  h1.ui.header#headerContainer Assignment
              //- .column
              //-   .ui.button.approve.teal#resetPair-button Reset Pair
              .right.column
                if user.info.occupation === 'teacher'
                  a.right
                    button.ui.button.approve.green#newPairingSession(style='float: right;', onclick='onClickCreateSession('+data_set.common.pairing_sessions[0].pairing_session_id+', \''+data_set.common.section.section_id+'\', '+data_set.common.pairing_sessions[0].status+')', value=`${data_set.common.pairing_sessions[0].status}`) Create Session
            if user.info.occupation === 'teacher'
              if data_set.common.pairing_sessions.length > 0 && data_set.common.pairing_sessions[0].status >= 0
                script(type='text/javascript').
                  set_item_pagination_in_third_container(!{data_set.json.pairing_sessions}, "!{data_set.common.section.section_id}", "!{user.info.occupation}")
                  on_click_page_number_in_third_container(1)
                  $('.ui.pointing.dropdown').dropdown();
              else
                p.text-center#no_session No session.
            else
              if data_set.common.assignments.length > 0
                script(type='text/javascript').
                  set_item_pagination_in_third_container(!{data_set.json.assignments}, "!{data_set.common.section.section_id}", "!{user.info.occupation}")
                  on_click_page_number_in_third_container(1)
              else
                p.text-center No assignment.
