extends layout/layout.pug

block script
    script(src='/js/app/classroom.js')
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript').
      const options = {}
      $.ajax({
        url: '/api/usernames',
        success: function (result) {
          options.data = result
          //console.log('options : ' + options)
        }
      })
      $(document).ready(function () {
        $('#settings-modal').modal({
          closable: false,
          transition: 'fade up',
          onApprove : function() {
            //$('.ui.form').submit();
            return false;
          },
        })
        $('#assignment-modal').modal({
          closable: false,
          transition: 'fade up',
          onApprove : function() {
            //$('.ui.form').submit();
            return false;
          },
        })
        $('#alert-modal').modal({
          closable: false,
          transition: 'fade up',
        })
        $('.newProject').click(function () {
          $('#newProject-modal').modal('show');
        });
        $('.first_container_menu').click(function () {
          showFirstContainer()
        });
        $('.second_container_menu').click(function () {
          showSecondContainer()
        });
        $('.third_container_menu').click(function () {
          showThirdContainer()
        });
        $('.settings-menu').click(function () {
          var day = '!{section.day}'
          var time_start = '!{section.time_start}'
          var time_end = '!{section.time_end}'
          var time_start_hh = time_start[0] + time_start[1]
          var time_start_mm = time_start[3] + time_start[4]
          var time_start_ap = time_start[5] + time_start[6]
          var time_end_hh = time_end[0] + time_end[1]
          var time_end_mm = time_end[3] + time_end[4]
          var time_end_ap = time_end[5] + time_end[6]
          $('.day option[value=\'' + day + '\']').attr('selected', 'selected');
          $('.timeStartHh option[value=' + time_start_hh + ']').attr('selected', 'selected');
          $('.timeStartMm option[value=' + time_start_mm + ']').attr('selected', 'selected');
          $('.timeStartAp option[value=' + time_start_ap + ']').attr('selected', 'selected');
          $('.timeEndHh option[value=' + time_end_hh + ']').attr('selected', 'selected');
          $('.timeEndMm option[value=' + time_end_mm + ']').attr('selected', 'selected');
          $('.timeEndAp option[value=' + time_end_ap + ']').attr('selected', 'selected');
          $('.ui.form').trigger('reset');
          $('.ui.form .field.error').removeClass('error');
          $('.ui.form.error').removeClass('error');
          $('#settings-modal').modal('show');
        });
        $('.ui.form.updateSection').form({
          fields: {
            course_name: {
              identifier: 'course_name',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your course name'
                }
              ]
            },
            section: {
              identifier: 'section',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your section'
                },
                {
                  type : 'regExp[[0-9]]',
                  prompt : 'This section is not valid!'
                }
              ]
            },
            room: {
              identifier: 'room',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your room'
                }
              ]
            }
          },
          onSuccess : function() {
            $('#newClassroom-modal').modal('hide');
          },
        })
        $('.newAssignment').click(function (){
          $('#assignment-modal').modal('show')
        })
        $('.ui.form.createAssignment').form({
          fields: {
            title: {
              identifier: 'title',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your title'
                }
              ]
            },
            week: {
              identifier: 'week',
              rules: [
                {
                  type   : 'integer[1...100]',
                  prompt : 'Please enter an integer value'
                }
              ]
            },
            description: {
              identifier: 'description',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your description'
                }
              ]
            },
            input_specification: {
              identifier: 'input_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your input specification'
                }
              ]
            },
            output_specification: {
              identifier: 'output_specification',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your output specification'
                }
              ]
            },
            sample_input: {
              identifier: 'sample_input',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample input'
                }
              ]
            },
            sample_output: {
              identifier: 'sample_output',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your sample output'
                }
              ]
            }
          },
          onSuccess : function() {
            $('#assignment-modal').modal('hide');
          },
        })
      });
      function showFirstContainer() {
        $('#first_container').show();
        $('#second_container').hide();
        $('#third_container').hide();
      }
      function showSecondContainer(){
        $('#first_container').hide();
        $('#second_container').show();
        $('#third_container').hide();
      }
      function showThirdContainer(){
        $('#first_container').hide();
        $('#second_container').hide();
        $('#third_container').show();
      }
    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      width: 100%;
      }
      }

block content
    input#pairing_session_id(type='hidden', value=pairing_sessions[0].pairing_session_id)
    input#section_id(type='hidden', value=`${section.section_id}`)
    input#assignment_set(type='hidden', value='[]')
    input#assignment_check_saving(type='hidden', value='{}')
    input#inp_week(type='hidden', value='-1week')
    script(type='text/javascript').
      $(document).ready(function(){
        if(!{occupation} === 0) {
          $('#assignment_set').attr('value', JSON.stringify(!{assignment_set}))
        }
      })
    +pairStudent(user, students)
    //- .ui.small.modal#newProject-modal
    //-   i.close.icon
    //-   .header Create New Project
    //-   .content
    //-     form.ui.form(action='/project', method='POST')
    //-       .field
    //-         label Project Name :
    //-         |
    //-         input(type='text', name='title', placeholder='Your Project Name')
    //-       .field
    //-         label Description :
    //-         |
    //-         input(type='text', name='description', placeholder='Something about your project')
    //-       .content
    //-         .ui.grid
    //-           .six.wide.column
    //-             .field
    //-               label Language :
    //-               select.ui.dropdown(name='language')
    //-                 option(value='0') Python
    //-           .six.wide.column
    //-             .field
    //-               label Buddy ID :
    //-               |
    //-               input(type='hidden' name='creator_id' value=user._id)
    //-               input(type='hidden' name='creator' value=user.username)
    //-               input#collaborator-hidden(type='hidden' name='collaborator')
    //-               input#collaborator(type='text',name='collaborator', placeholder='Search users...', disabled)
    //-           .four.wide.column
    //-               button.ui.positive.labeled.icon.button(id='add-collaborator' type='button')
    //-                 i.user.icon
    //-                 |  Add
    //-       .field
    //-         label Time  :
    //-         select.ui.dropdown(name='swaptime')
    //-            option(value='15') 15 minutes (Recommended)
    //-            option(value='10') 10 minutes
    //-            option(value='5') 5 minutes
    //-            option(value='1') 1 minute
    //-         input(type='hidden' name='status' value="pending")
    //- 
    //-       .ui.basic.center.aligned.segment()
    //-         .actions
    //-           button.ui.button.approve.green(type='submit') Create
    //-           .ui.button.approve.red(data-value='cancel') Cancel

    .ui.small.modal#alert-modal
      i.close.icon
      .header#alert-header Alert!
      .content
        p#alert-message Something content
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.cancel.green(data-value='cancel') OK

    .ui.small.modal#confirm-modal
      .header#confirm-header Alert!
      .content
        input#inp_cm(type='hidden')
        p#confirm-message Something message.
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green#confirm-button(type='submit') Confirm
            .ui.button.approve.red#cancel-button(data-value='cancel') Cancel

    .ui.small.modal#settings-modal
      i.close.icon
      .header Settings Classroom
      .content
        form.ui.form.updateSection.segment(action='/classroom/updateSection', method='POST')
          .field
            label Class Name :
            |
            input(type='text', name='course_name', placeholder='Your class name', value=`${section.course_name}`)
          .ui.grid
            .two.column.row
              .column
                .field
                  label Section :
                  |
                  input(type='text', name='section', placeholder='Your section', maxlength='3', value=`${section.section}`)
              .column
                .field
                  label Room :
                  |
                  input(type='text', name='room', placeholder='Your room', maxlength='4', value=`${section.room}`)
          .ui.grid
            .four.wide.column
              .field
                label Day  :
                select.ui.dropdown.day(name='day')
                   option(value='Mon.') Monday
                   option(value='Tue.') Tuesday
                   option(value='Wed.') Wednesday
                   option(value='Thu.') Thursday
                   option(value='Fri.') Friday
                   option(value='Sat.') Saturday
                   option(value='Sun.') Sunday
            .six.wide.column(style='text-align:center;')
              b Time start
              .ui.labeled.input
                select.ui.dropdown.timeStartHh(name='time_start_hh')
                  option(value='00')  00
                  option(value='01')  01
                  option(value='02')  02
                  option(value='03')  03
                  option(value='04')  04
                  option(value='05')  05
                  option(value='06')  06
                  option(value='07')  07
                  option(value='08')  08
                  option(value='09')  09
                  option(value='10')  10
                  option(value='11')  11
                  option(value='12')  12
                .ui.label
                  b(color='black') :
                select.ui.dropdown.timeStartMm(name='time_start_mm')
                  option(value='00')  00
                  option(value='05')  05
                  option(value='10')  10
                  option(value='15')  15
                  option(value='20')  20
                  option(value='25')  25
                  option(value='30')  30
                  option(value='35')  35
                  option(value='40')  40
                  option(value='45')  45
                  option(value='50')  50
                  option(value='55')  55
                select.ui.dropdown.timeStartAp(name='time_start_ap')
                  option(value='am.')  am.
                  option(value='pm.')  pm.
            .six.wide.column(style='text-align:center;')
              b Time end
              <br>
              .ui.labeled.input
                select.ui.dropdown.timeEndHh(name='time_end_hh')
                  option(value='00')  00
                  option(value='01')  01
                  option(value='02')  02
                  option(value='03')  03
                  option(value='04')  04
                  option(value='05')  05
                  option(value='06')  06
                  option(value='07')  07
                  option(value='08')  08
                  option(value='09')  09
                  option(value='10')  10
                  option(value='11')  11
                  option(value='12')  12
                .ui.label
                  b(color='black') :
                select.ui.dropdown.timeEndMm(name='time_end_mm')
                  option(value='00')  00
                  option(value='05')  05
                  option(value='10')  10
                  option(value='15')  15
                  option(value='20')  20
                  option(value='25')  25
                  option(value='30')  30
                  option(value='35')  35
                  option(value='40')  40
                  option(value='45')  45
                  option(value='50')  50
                  option(value='55')  55
                select.ui.dropdown.timeEndAp(name='time_end_ap')
                  option(value='am.')  am.
                  option(value='pm.')  pm.
          input(type='hidden', name='course_id', value=`${section.course_id}`)
          input(type='hidden', name='section_id', value=`${section.section_id}`)
          .ui.basic.center.aligned.segment
            .actions
              button.ui.button.approve.green(type='submit') Update
              .ui.button.cancel.red(data-value='cancel') Cancel
          .ui.error.message

    .ui.small.modal#assignment-modal
      i.close.icon
      .header Assignment
      .content
        form.ui.form.createAssignment.segment(action='/assignment', method='POST')
          .inline.fields
            label Programming Style :
            .field
              .ui.radio.checkbox
                input(type='radio' name='programming_style' value='Co-located' checked='checked')
                |  
                label Co-located ( ทำ Pair แบบดั้งเดิม )
            .field
              .ui.radio.checkbox
                input(type='radio' name='programming_style' value='Remote')
                |  
                label Remote ( ทำ Pair ทางไกลคนละเครื่อง )
          .ui.grid
            .thirteen.wide.column
              .field
                label Title :
                |
                input(type='text', name='title', placeholder='Your title')
            .three.wide.column
              .field
                label Week :
                |
                input(type='text', name='week', placeholder='Week', maxlength='3')
          .field
            label Description :
            |
            textarea(type='text', name='description', placeholder='Some content...', style='resize:none;')
          .ui.grid
            .two.column.row
              .column
                .field
                  label Input specification :
                  |
                  textarea(row='2', type='text', name='input_specification', placeholder='Input specification...', style='resize:none;')
              .column
                .field
                  label Output specification :
                  |
                  textarea(row='2', type='text', name='output_specification', placeholder='Output specification...', style='resize:none;')
          .ui.grid
            .two.column.row
              .column
                .field
                  label Sample Input :
                  |
                  textarea(row='2', type='text', name='sample_input', placeholder='Sample Input...', style='resize:none;')
              .column
                .field
                  label Sample Output :
                  |
                  textarea(row='2', type='text', name='sample_output', placeholder='Sample Output...', style='resize:none;')
          input(type='hidden', name='section_id', value=`${section.section_id}`)
          .ui.basic.center.aligned.segment
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.cancel.red(data-value='cancel') Cancel
          .ui.error.message

    .ui.raised.very.padded.container
      .ui.centered.grid(style='padding-top:20px;')
        +detailSection(sections, occupation)
        .ten.wide.column#first_container
          .ui.segment
            .ui.two.column.doubling.stackable.grid.container(style='padding-top:20px; margin-bottom:20px;')
              .column
                case occupation
                  when 0
                    h1.ui.header#headerContainer Assignment
                  default
                    h1.ui.header#headerContainer My Project
              .right.column
                script(type='text/javascript').
                  $('#weeks').dropdown();
                div
                  case occupation
                    when 0
                      .ui.selection.dropdown#weeks(style='float: right;')
                        i.dropdown.icon
                        if weeks.length > 0
                          .default.text Select week
                        else
                          .default.text No week
                        .menu#menu_week
                          if weeks.length > 0
                            .item#-1week(data-value='-1' onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`$('#assignment_set').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')') All
                          each week in weeks
                            .item(id=`${week}`+'week'  data-value=''+`${week}` onclick='on_click_weeks_dropdown('+`$(this).attr('id')`+', '+`$('#assignment_set').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')') !{week}
                      script(type='text/javascript').
                        $('#weeks').dropdown();
                      button.ui.button.approve.blue(style='float: right;' onclick='checkbox_event(0, '+`$('#assignment_set').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')') Clear Checkbox
                      button.ui.button.approve.blue(style='float: right;' onclick='checkbox_event(1, '+`$('#assignment_set').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')') Check All of Box
                      button.ui.button.approve.red(style='float: right;') Delete
                      button.ui.button.approve.yellow(style='float: right;' onclick='on_click_assign_button('+`$('#assignment_set').attr('value')`+', '+`$('#pairing_session_id').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')') Assign
                      button.ui.button.approve.green.newAssignment(style='float: right;') Create
                    //default
                    //  button#new.ui.button.approve.green.newProject(style='float: right;') Create New Project
            if pagination.length                
              .ui.pagination.menu#assignment_pagination
                each page in pagination
                  a.item(id='page'+`${page}`, onclick='on_click_page('+`${page}`+', '+`$('#assignment_set').attr('value')`+', '+`$('#assignment_check_saving').attr('value')`+')')= page
            .ui.divided.items#assignment_items
              case occupation
                when 0
                  if assignments.length > 0
                    script(type='text/javascript').
                      $(document).ready(function() {
                        on_click_page(1, $('#assignment_set').attr('value'), $('#assignment_check_saving').attr('value'))
                        
                        let assignment_set = JSON.parse($('#assignment_set').attr('value'))
                        assignment_set.forEach(function(e){
                          $('#'+e.assignment_id+'_is_selected').prop('checked', false)
                        })
                      })
                  else
                    p.text-center No assignment.
                default
                  if projects_in_section.length > 0
                    each project in projects_in_section
                      if project.creator === user.username
                          .item(style='padding-top:10px; padding-bottom:10px;')
                            a.ui.tiny.image(href='/project?pid='+project.pid+'&user_role=creator&section_id='+`${section.section_id}`+'')
                              img(src='/images/blue-folder.png', style='position: absolute;')
                              img.ui.avatar.image(src=`${user.img}`, style='width: 30px;height: 30px;left:25px;top: 20px;')

                            .content
                              .ui.grid
                                .eleven.wide.column
                                  b(style='font-size:1.2em;')
                                    a.header(href='/project?pid='+project.pid+'&user_role=creator&section_id='+`${section.section_id}`+'')= project.title
                                  .description !{project.description}
                                  | Last updated #{moment(project.createdAt).fromNow()}
                                  | (
                                  a(href='/profile/'+project.collaborator ) @#{project.collaborator}
                                  |)
                      else if project.collaborator === user.username
                        .item(style='padding-top:10px')
                          a.ui.tiny.image(href='/project?pid='+project.pid+'&user_role=creator&section_id='+`${section.section_id}`+'')
                              img(src='/images/yellow-folder.png', style='position: absolute;')
                              img.img-owner.ui.avatar.image(src=`${user.img}`, style='width: 30px;height: 30px; top:20px;')
                              img.img-partner.ui.avatar.image(src='/images/user_img_4.jpg', style='width:30px; height:30px; top:-10px;')

                          .content
                            b(style='font-size:1.2em;')
                              a(href='/project?pid='+project.pid+'&user_role=collaborator&section_id='+`${section.section_id}`+'')= project.title
                            .description(style='margin-top:0px;')= project.description
                            | Last updated #{moment(project.createdAt).fromNow()} (
                            a(href='/profile/'+project.creator)
                              | @
                              = project.creator
                            |)
                  else
                    p.text-center No project.  
            
        .ten.wide.column#second_container(style='display:none;')
          .ui.segment
            .ui.two.column.doubling.stackable.grid.container(style='padding-top:20px; margin-bottom:20px;')
              .column
                h1.ui.header#headerContainer Student
            .ui.middle.aligned.divided.list.studentList
              if students.length > 0
                each student in students
                  .item(id=`${student.enrollment_id}`, style='padding-left:15px; padding-right:15px;')
                    .right.floated.content
                      case occupation
                        when 0
                          a.ui.right.floated.alignedvertical.animated.button.red(onclick='on_click_remove_student_button('+student.enrollment_id+',\"'+student.first_name+'\",\"'+student.last_name+'\")')
                            .hidden.content(style='color:white;') Remove
                            .visible.content
                              i.sign.out.icon
                    img.ui.avatar.image(src='images/user_img_0.jpg')
                    .content
                      case occupation
                        when 0
                          a(href='/profile?section_id='+section.section_id+'&username='+student.username)
                            p !{student.first_name} !{student.last_name}
                        default
                            p !{student.first_name} !{student.last_name}
              else
                p.text-center No student.  
                      
        .ten.wide.column#third_container(style='display:none;')
          .ui.segment
            .ui.two.column.doubling.stackable.grid.container(style='padding-top:20px; margin-bottom:20px;')
              .column
                case occupation
                  when 0
                    h1.ui.header#headerContainer Pairing Session
                  default
                    h1.ui.header#headerContainer Assignment
              //- .column
              //-   .ui.button.approve.teal#resetPair-button Reset Pair
              .right.column
                case occupation
                  when 0
                    a.right
                      button#new.ui.button.approve.green.newPairingSession(style='float: right;', onclick='onClickCreateSession('+`$('#pairing_session_id').attr('value')`+','+pairing_sessions[0].status+')', value=`${pairing_sessions[0].status}`) Create Session
            .ui.divided.items#pairingSession
              case occupation
                when 0
                  if pairing_sessions.length > 0 && pairing_sessions[0].status >= 0
                    each pairing_session, index in pairing_sessions
                      .item.pairing-date-time(id=`${pairing_session.pairing_session_id}`, style='padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px;')
                        .content
                          .ui.grid
                            .eleven.wide.column
                              b(style='font-size:1.5em;')
                                case pairing_session.status
                                  when 0
                                    header(style='color:#5D5D5D;') Session : !{pairing_times - index}
                                  default
                                    header.header-pending-and-active Session : !{pairing_times - index}
                              .description
                                case pairing_session.status
                                  when 0
                                    p
                                      b(style='color:#5D5D5D;') Start at :
                                      font(color='#5D5D5D')  !{pairing_session.date_time}
                                      br
                                      b(style='color:#5D5D5D;') End at :
                                      font(color='#5D5D5D')  !{pairing_session.time_end}
                                  default
                                    p
                                      b.date-time Start at :
                                      font.font-pending-and-active  !{pairing_session.date_time}
                                      br
                                      b.date-time End at :
                                      font.font-pending-and-active#endAt  !{pairing_session.time_end}
                            .five.wide.column#pairing-button-column
                              case pairing_session.status
                                when 0
                                  .ui.right.floated.alignedvertical.animated.button(onclick='onClickViewPairingRecord('+pairing_session.pairing_session_id+')')
                                    .hidden.content(style='color:#5D5D5D;') View
                                    .visible.content
                                      i.eye.icon
                                default
                                  .ui.top.right.floated.pointing.dropdown.button.blue#viewAndInactivePairing
                                    font(color='white') Select
                                    .menu
                                      .item(onclick='onClickViewPairingRecord('+pairing_session.pairing_session_id+')') View
                                      .item(onclick='onClickCompletedSessionMenu('+pairing_session.pairing_session_id+')') Completed
                                  script(type='text/javascript').
                                    $('.ui.pointing.dropdown').dropdown();
                          .extra
                            case pairing_session.status
                              when 0
                                .ui.label#status(style='background-color:#E8E8E8; color:#665D5D;') COMPLETED
                              when 1
                                .ui.label#status(style='background-color:#16AB39; color:white;') ACTIVE
                  else
                    p.text-center#no_session No session.  
                default
                  if assignments.length > 0
                    each assignment in assignments
                      .item
                        .content
                          a(href='/assignment?section_id='+section.section_id+'&assignment_id='+assignment.assignment_id)
                            b(style='font-size:1.5em; padding-left:15px; padding-right:15px;') !{assignment.title}
                          .description
                            p(style='padding-left:15px; padding-right:15px;') !{assignment.description}
                  else
                    p.text-center No assignment.
