extends layout/layout.pug

block script
    script(src='/js/app/dashboard.js')
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript').
      const options = {}
      $.ajax({
        url: '/api/usernames',
        success: function (result) {
          options.data = result
          console.log('options : ' + options)
        }
      })
      $(document).ready(function () {
        $('.newProject').click(function () {
          $('#newProject-modal').modal('show');
        });
        $('.students').click(function () {
          $('#students-modal').modal('show');
          $.ajax({
            url: '/api/students',
            data: {
              section_id: !{section.section_id}
            },
            success: function (res) {
              $('.studentList').remove()
              var items = $('<div class=\'ui items studentList\'></div>');
              $('#students-modal').append(items)
              for(student in res){
                var item = $('<div class=\'item ' + res[student].student_id + '\'></div>')
                var content = $('<div class=\'content\'></div>')
                var segment = $('<div class=\'ui segment\'></div>')
                var grid = $('<div class=\'ui grid\'></div>')
                var column1 = $('<div class=\'eleven wide column\'></div>')
                var description = $('<div class=\'description\'></div>').append($('<p><font color=\'blue\'> STUDENT ID </font></p>'))
                var column2 = $('<div class=\'five wide column\'></div>')
                column1.append(description)
                grid.append(column1)
                segment.append(grid)
                content.append(segment)
                item.append(content)
                $('.studentList').append(item)
              }
            }
          })
        });
        $('.pairs').click(function () {
          $('#pairs-modal').modal('show');
        });
        $('.settings').click(function () {
          $('#settings-modal').modal('show');
        });
        $('#searchStudents').keyup(function (e) {
          var letters = $(this).val();
          var students = [];
          $.ajax({
            url: '/api/search',
            data: {
              letters
            },
            success: function (res) {
              $('.studentList').remove()
              var items = $('<div class=\'ui items studentList\'></div>');
              $('#students-modal').append(items)
              for(student in res) {
                var segment = $('<div class=\'ui segment ' + res[student].student_id + '\'></div>').append($('<p> ' + res[student].username + ' </p>'))
                $('.studentList').append(segment)
                console.log('Students : ' + res[student].username)
              }
            }
          })
        })
        $('.removeStudent').click(function () {
          var name = $(this).attr('name');
          $('#messageConfirm').text('Are you sure to remove student: \"' + name + '\" from the classroom?')
          $('#confirmRemoveStudent').modal('show');
          //var student = $(this).attr('id')
          //$('#' + student).remove()
          //alert($(this).attr('id'));
        });
        $('.no').click(function () {
          $('#students-modal').modal('show');
        });
      });
    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      width: 100%;
      }
      }

block content
    .ui.small.modal#newProject-modal
      i.close.icon
      .header Create New Project
      .content
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |
            input(type='text', name='title', placeholder='Your Project Name')
          .field
            label Description :
            |
            input(type='text', name='description', placeholder='Something about your project')
          .content
            .ui.grid
              .six.wide.column
                .field
                  label Language :
                  select.ui.dropdown(name='language')
                    option(value='0') Python
              .six.wide.column
                .field
                  label Buddy ID :
                  |
                  input(type='hidden' name='creator_id' value=user._id)
                  input(type='hidden' name='creator' value=user.username)
                  input#collaborator-hidden(type='hidden' name='collaborator')
                  input#collaborator(type='text',name='collaborator', placeholder='Search users...', disabled)
              .four.wide.column
                  button.ui.positive.labeled.icon.button(id='add-collaborator' type='button')
                    i.user.icon
                    |  Add
          .field
            label Time  :
            select.ui.dropdown(name='swaptime')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
               option(value='1') 1 minute
            input(type='hidden' name='status' value="pending")

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel

    .ui.small.modal#confirmRemoveStudent
      i.close.icon
      .header Remove Student
      .content
        p#messageConfirm Are you sure to remove the student from the classroom?
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green.yes Yes
          .ui.button.approve.red.no No

    .ui.longer.modal#students-modal
      i.close.icon
      .header Class Code !{section.class_code}
      .content
        .ui.fluid.action.input
          input#searchStudents(type='text', name='student_name', placeholder='Search...')
          button.ui.icon.button
            i.search.icon
        //- .ui.items.studentList
          if students.length > 0
            each student in students
              .item(id=`${student.student_id}`, style='padding-top:2px; padding-bottom:5px;')
                  .content
                      .ui.segment
                          .ui.grid
                              .eleven.wide.column
                                  b(style='font-size:1.2em;')
                                      header !{student.first_name} !{student.last_name}
                                  .description
                                      p
                                        font(color='blue') STUDENT ID
                              .five.wide.column
                                  a.ui.right.floated.alignedvertical.animated.removeStudent.button(id=`${student.student_id}`, name=`${student.first_name}` + ' ' + `${student.last_name}`)
                                      .hidden.content Delete
                                      .visible.content
        //                                i.trash.icon

    .ui.longer.modal#pairs-modal
      i.close.icon
      .red.inverted.header Pairs
      .content

    .ui.small.modal#settings-modal
      i.close.icon
      .red.inverted.header Settings Classroom
      .content
        form.ui.form(action='/classroom', method='POST')
          .field
            label Class Name :
            |
            input(type='text', name='course_name', placeholder='Your class name', maxlength='100', pattern='[A-Z].{2,100}', title='Must class name is upper case')
          .ui.grid
            .two.column.row
              .column
                .field
                  label Section :
                  |
                  input(type='text', name='section', placeholder='Your section', maxlength='2', pattern='[0-9]{1,2}', title='Must 0-9')
              .column
                .field
                  label Room :
                  |
                  input(type='text', name='room', placeholder='Your room', maxlength='4', pattern='[A-Za-z0-9].{1,4}')
          .ui.grid
            .six.wide.column
              .field
                label Date  :
                select.ui.dropdown(name='day')
                   option(value='Mon.') Monday
                   option(value='Tue.') Tuesday
                   option(value='Wed.') Wednesday
                   option(value='Thu.') Thursday
                   option(value='Fri.') Friday
                   option(value='Sat.') Saturday
                   option(value='Sun.') Sunday
            div#datepair
              .five.wide.column
                .field
                  label Time start  :
                  input(type="text", class="time start", name="time_start", autocomplete="off", maxlength="7", pattern="[0-9]?[0-9]{1}:{1}[0-9]{1}[0-9]{1}[ap]{1}m{1}", title="eg., 12:00pm", placeholder='Time start')
              .five.wide.column
                .field
                  label Time end :
                  input(type="text", class="time end", name="time_end", autocomplete="off", maxlength="7", pattern="[0-9]?[0-9]{1}:{1}[0-9]{1}[0-9]{1}[ap]{1}m{1}", title="eg., 12:00pm", placeholder='Time end')
          .ui.basic.center.aligned.segment
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel

    .ui.raised.very.padded.container
      .ui.centered.grid(style='padding-top:20px;')
        .five.wide.column
          .ui.segments
            .ui.red.inverted.segment
              .item
                .content
                  b(style='font-size:1.2em;')
                    header= section.course_name
                  .description
                    p   Section !{section.section} Room !{section.room}
                    p   !{section.day} !{section.time_start}. - !{section.time_end}.
            .ui.segment
              .ui.items
                .item
                  .content
                    .description
                      p
                        i.student.icon
                        button.btn.students Students
                case occupation
                  when 0
                    .item
                      .content
                        .description
                          p
                            i.sitemap.icon
                            button.btn.pairs Pairs
                .item
                  .content
                    .description
                      p
                        i.setting.icon
                        button.btn.settings Settings

        .ten.wide.column
          .ui.segment
            .ui.two.column.doubling.stackable.grid.container(style='padding-top:20px;')
              .column
                case occupation
                  when 0
                    h1.ui.header#headerContainer Assignments
                  default
                    h1.ui.header#headerContainer My Projects
              .right.column
                a.right
                  case occupation
                    when 0
                      button#new.ui.button.approve.green.newAssignment(style='float: right;') Create New Assignment
                    default
                      button#new.ui.button.approve.green.newProject(style='float: right;') Create New Project
            //- .ui.items.segment
              if sections.length > 0
                each section in sections
                  if user.info.occupation === 'teacher'
                          .item(id=`${section.section_id}`, style='padding-top:2px; padding-bottom:5px;')
                              .content
                                  .ui.grid
                                      .eleven.wide.column
                                          b(style='font-size:1.2em;')
                                              header= section.course_name
                                          .description
                                              p   Section !{section.section} Room !{section.room}
                                              p   !{section.day} !{section.time_start}. - !{section.time_end}.
                                      .five.wide.column
                                          a.ui.right.floated.alignedvertical.animated.enterToClass.button(href='/classroom?course_id='+section.course_id+'&course_name='+section.course_name)
                                              .hidden.content Edit
                                              .visible.content
                                                  i.setting.icon
                  else
                    p.text-center No classroom.
            //
