extends layout/layout.pug

block script
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')

  script(type='text/javascript').
    $(document).ready(function () {
      $('#newClassroom-modal').modal({
        closable: false,
        transition: 'fade up',
        onApprove : function() {
          return false;
        },
      })
      $('.newClassroom').click(function () {
        $('.ui.form').trigger('reset');
        $('.ui.form .field.error').removeClass('error');
        $('.ui.form.error').removeClass('error');
        $('#newClassroom-modal').modal('show');
      });
      $('.joinClassroom').click(function () {
        $('#joinClassroom-modal').modal('show');
      });
      $('.ui.form').form({
        fields: {
          course_name: {
            identifier: 'course_name',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter your course name'
              }
            ]
          },
          section: {
            identifier: 'section',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter your section'
              },
              {
                type : 'regExp[[0-9]]',
                prompt : 'This section is not valid!'
              }
            ]
          },
          room: {
            identifier: 'room',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter your room'
              }
            ]
          }
        },
        onSuccess : function() {
          $('#newClassroom-modal').modal('hide');
        },
      })
    });
    function onClickDeleteSection(sectionId, courseName, section) {
      $('#messageConfirm').text('Are you sure to delete the \"' + courseName + '\" course in section ' + section + ' from the system?')
      $('#confirmToDeleteSection').click(function() {
          $.ajax({
          url: '/lobby/deleteSection',
          type: 'delete',
          data: {
            sectionId
          },
          success: function (res) {
            if(res.resStatus == 'Delete the section complete.') {
              $('#' + res.sectionId).remove()
            } else {
              alert('Delete the section fail.')
            }
          }
        })
      })
      $('#confirmDeleteSection').modal('show');
    }


  style.
    @media (min-height: 200px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    }
    }
    @media (max-width: 768px) {
    .ui.footer.form-page {
      display: none;
    }
    }


block content
  if user.info.occupation === 'teacher'
    +newClassroomModal()
    +confirmDeleteSection()
  else if user.info.occupation === 'student'
    +joinClassroomModal()

  .ui.raised.very.padded.text.container.segment
    .ui.two.column.doubling.stackable.grid.container
      .column
        h1.ui.header My Classroom
      .right.column
        a.right
          if user.info.occupation === 'teacher'
            button#new.ui.button.approve.green.newClassroom(style='float: right;') Create New Classroom
          else
            button#new.ui.button.approve.green.joinClassroom(style='float: right;') Join Classroom
    br
    .ui.devided.items
      if dataSets.origins.sections.length > 0
        each section in dataSets.origins.sections
          if user.info.occupation === 'teacher'
            .item(id=`${section.section_id}`, style='padding-top:2px; padding-bottom:5px;')
              .content
                .ui.segment
                  b(style='font-size:1.2em;')
                    header= section.course_name
                  .description
                    pre Section !{section.section} Room !{section.room}
                    pre !{section.day} !{section.time_start} - !{section.time_end}
                  .extra
                    a.ui.right.floated.alignedvertical.animated.enterToClass.button.green(href=`/classroom/section/${section.section_id}`)
                      .hidden.content Enter
                      .visible.content
                        i.sign.in.alternate.icon.icon
                    a.ui.right.floated.alignedvertical.animated.deleteSection.button.red(tabindex='0' onclick='onClickDeleteSection(\'' + section.section_id + '\', \'' + section.course_name + '\', ' + section.section + ')')
                      .hidden.content Delete
                      .visible.content
                        i.trash.alternate.icon
                    .ui.label
                      b(style='color:black; font-size:1em;')
                        p.right.floated.column= section.class_code

          else if user.info.occupation === 'student'
            .item(id=`${section.section_id}`, style='padding-top:2px; padding-bottom:5px;')
              .content
                .ui.segment
                  b(style='font-size:1.2em;')
                    header= section.course_name
                  .description
                    pre Section !{section.section} Room !{section.room}
                    pre !{section.day} !{section.time_start} - !{section.time_end}
                  .extra
                    a.ui.right.floated.primary.alignedvertical.animated.enterToClass.button(href=`/classroom/section/${section.section_id}`)
                      .hidden.content Enter
                      .visible.content
                        i.sign.in.alternate.icon.icon
      else
        p.text-center No classroom.
