extends layout/layout.pug

block script
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')

  style.
    @media (min-height: 200px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    }
    }

block content
  +assignmentModal()
  .ui.segment.container.notebook_app.command_mode
    .ui.two.column.grid
      .middle.aligned.column
        h1.ui.header !{dataSets.origins.notebookAssignment.title}
      if user.info.occupation == 'teacher'
        .right.aligned.column
          //- .ui.button.approve.grey#editAssignment(onclick='showAssignmentModal('+`${dataSets.reforms.notebookAssignment}`+')') Edit
    .ui
      .column(style="display: flex;")
        .ui.segment(style="margin-top: 14px")
          - for (var i=0 ; i < `${cells.length}` ; i++)
            if `${cells[i]["cellType"]}` === "markdown"
              .cell.text_cell.rendered
                  .inner_cell
                    .text_cell_render.rendered_html(style="padding-left:8em; padding-right:25px; margin-top: 25px;")
                      - for (let y=0; y < `${cells[i]["source"].length}`; y++)
                          p !{cells[i]["source"][y]}             
            else if `${cells[i]["cellType"]}` === "code"
              .cell.code_cell.rendered
                .input.row
                  .prompt_container.col-md-3
                    .prompt.input_prompt
                      bdi In &nbsp; 
                      bdi [!{cells[i]["executionCount"]}]:
                  .inner_cell.col-md-9
                    .input_area(style="margin-top: 25px; padding-left:8em; padding-right:25px; border: 10px; solid #cfcfcf; border-radius: 2px; background: #f7f7f7;")
                      - for(var y = 0; y < `${cells[i]["source"].length}`; y++)
                        p !{cells[i]["source"][y]}   
                
                .output
                  .output_area
                    .output_subarea.output_text(style="margin-top: 10px; padding-left:8em; padding-right:25px;")
                      - for(var y = 0; y < `${cells[i]["outputs"].length}`; y++)
                          p !{cells[i]["outputs"][y]["text"]}   
                        
    a.button.ui.labeled.icon.button(href='/classroom?section_id='+dataSets.origins.section.section_id, style='margin-top:20px;')
      i.reply.icon
      font Back
