extends layout/layout.pug

block script
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/codemirror/lib/codemirror.css')
  link(rel='stylesheet' href='/codemirror/addon/selection/active-line.js')
  link(rel='stylesheet' href='/codemirror/theme/blackboard.css')
  link(rel='stylesheet' href='/codemirror/theme/seti.css')
  link(rel='stylesheet' href='/codemirror/theme/material.css')


block content
  +assignmentModal()
  +alertModal()
  +confirmModal()
  .ui.modal
  .ui.reviewer.small.modal
    .header Code Review
    .content
      .ui.form
        .field
          label Block ID :
          |  
          input.disabled.file.name(type='text' placeholder='File' disabled='')
          input.hidden.file.name(type='hidden')
        .field
          label Line No :
          |  
          input.disabled.line.no(type='text' placeholder='Your Project Name' disabled='')
        .field
          label Comment :
          |  
          textarea.line.reviewer.description(rows='4' cols='50' placeholder='Something about this line')
        .ui.basic.center.aligned.segment()
          .actions
            button.ui.button.approve.green(onClick='submitReview()') Submit
            .ui.button.approve.red(data-value='cancel') Cancel
            .ui.floated.alignedvertical.animated.deleteProject.button.approve(onClick='deleteReview()' tabindex='0')
              .hidden.content Delete
              .visible.content
                i.trash.icon
  .ui.container.segment
    .ui.segment.container.notebook_app.command_mode
        .middle.aligned.column
            h1.ui.header.centered !{dataSets.origins.notebookAssignment.title}
            
            input(type='hidden' id='pid' value=`${dataSets.origins.project.pid}`)
    .ui.grid
        .four.wide.column
          .ui.top.attached.tabular.demo.menu
            a.active.item(data-tab='first') Project

          .ui.bottom.attached.active.tab.segment(data-tab='first')
            p
              .ui.list
                .item
                  i.file.icon
                  .content
                    .header(id="assignment-title") !{dataSets.origins.notebookAssignment.title}
                    .description !{dataSets.origins.notebookAssignment.description}
                  br
                  i.file.icon
                  .content
                    a.ui.label(id='exportNotebookFileStudent' onClick='exportNotebookFileStudent("'+dirPath+'","'+dataSets.origins.notebookAssignment.notebook_assignment_id+'")') export file
                            
                                 
          //- exporting file modal
          .ui.small.modal#export-modal
            .header Export File
            .content  
              .item
                .ui.master.checkbox
                  input(type="checkbox" name="allfile")
                  label Select all file
                .list#export-checklist
                  each file in ["test.py"]
                    .item.export-file-item(id=file+'-export-file-item')
                      .ui.child.checkbox
                        input(type="checkbox" name='checkbox-file', value=file)
                        label=file+'.py'       
            .actions
              button.ui.button.approve.green(id='exportBtn' onClick='onClickExport()') Export
              .ui.button.approve.red(data-value='cancel') Cancel  

              style.
                .videoContainer {
                position: relative;
                width: 200px;
                height: 150px;
                }
                .videoContainer video {
                position: absolute;
                width: 100%;
                height: 100%;
                }
                .volume_bar {
                position: absolute;
                width: 5px;
                height: 0px;
                right: 0px;
                bottom: 0px;
                background-color: #12acef;
                }
              p#subTitle
              form#createRoom              
              p Buddy
              #buddy_counts_min_sec.ui.red.circular.label active time: 00:00 min
              .videoContainer
                #remoteVideo
              .ui.divider
              p You
              #counts_min_sec.ui.red.circular.label active time: 00:00 min
              .videoContainer
                video#localVideo(style='height: 150px; transform: scaleX(-1);' oncontextmenu='return false;')
                canvas(id="canvas" width="320" height="240" style="transform: scaleX(-1);")
                #localVolume.volume_bar  
          .ui.segments
            .ui.segment
              .six.wide.column
                .ui.grid
                   - for (let i=0 ; i <`${dataSets.origins.group.length}`; i++ )
                      .sixteen.wide.column.padding-left-3.padding-right-3
                        div.ui.relaxed.items
                          div.item
                            div
                              div.ui.tiny.image.circular
                                img(src= `${dataSets.origins.group[i].img}`)
                              p.user-role-label.text-center
                            div.content.padding-10
                              p.header #{`${dataSets.origins.group[i].info.firstname}`}   #{`${dataSets.origins.group[i].info.lastname}`} <b> (@#{`${dataSets.origins.group[i].username}`}) </b>
                              div.description
                                label.ui.teal.circular.label#user-point-label average score : 0

        .twelve.wide.column.right
          //- .ui.grid
          //-   .sixteen.wide.column
          //-     p#project-score-point.ui.red.circular.label(data-tooltip="Project Score" data-inverted="") project score : 0
          //-     //- a.ui.label(style='margin-left:10px;' href='/history?pid='+dataSets.origins.project.pid+'&curUser='+curUser+'&section_id='+dataSets.origins.section.section_id) view history
          //-     button.ui.icon.button.negative.float-right(id='run' onClick='deleteBlock()' data-tooltip="Delete Block" data-inverted="")
          //-         i.minus.icon
          //-     button.ui.icon.button.blue.float-right(id='addBlock' onClick='addBlock()' data-tooltip="Add Block" data-inverted="")
          //-         i.plus.icon
          //-     button.ui.icon.button.positive.float-right(id='run' onClick='runCode()' data-tooltip="Run Code" data-inverted="")
          //-         i.play.icon
              

          //- file tab  

          .ui.form
            .ui.top.attached.tabular.file.menu(id='file-tabs')
              each file, index in  ["test.py"]
                if index == 0
                  a.active.item(id=file data-tab='main' onClick=`getActiveTab()`) main.py
                else
                  a.item(id=file data-tab=file onClick=`getActiveTab()`)=file+'.py' 
                    span(onClick=`closeTab()`)
                      i.delete.icon(id='close-tab-icon')        

          .ui.segment(id='segmentCodeBlock' style="margin-top: 14px")
                - for (var i=0 ; i < `${cells.length}` ; i++)
                  if `${cells[i]["cellType"]}` === "markdown"
                    .cell.text_cell.rendered(id=`${cells[i]["blockId"]}-div`)
                        .inner_cell
                          .text_cell_render.rendered_html(style="padding-left:8em; padding-right:25px; margin-top: 25px;")
                            
                                p !{cells[i]["source"]} 
                                textarea(id=`${cells[i]["blockId"]}` style="display:none;").show      
                  else if `${cells[i]["cellType"]}` === "code"
                    .cell.code_cell.rendered(id=`${cells[i]["blockId"]}-div` style="padding-top: 2em; padding-bottom: 2em")
                      .ui.grid
                        .two.wide.column
                            .prompt_container
                              .prompt.input_prompt(id=`${cells[i]["blockId"]}-in`)
                                bdi In &nbsp; 
                                bdi [!{cells[i]["executionCount"]}]:
                        .four.wide.column
                          p#recently-codder(style='color: gray; margin-left: 1em') Aew Aew Suttida
                          //- a.ui.label(style='margin-left:10px;' href='/history?pid='+dataSets.origins.project.pid+'&curUser='+curUser+'&section_id='+dataSets.origins.section.section_id) view history
                        .ten.wide.column(style="padding-right:35px;")
                          if `${cells[i].statusCode}` == "unapproved"
                            button.ui.icon.button.float-right(class=`${cells[i]["statusCode"]}` id=`${cells[i]["blockId"]}-unapproved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'unapproved')` data-tooltip="Un approved" data-inverted="" )
                                i.close.icon
                            button.ui.icon.button.empty.float-right( id=`${cells[i]["blockId"]}-approved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'approved')` data-tooltip="Approved" data-inverted="" disabled )
                                i.check.icon 
                          else if  `${cells[i].statusCode}` == "approved"
                            button.ui.icon.button.empty.float-right( id=`${cells[i]["blockId"]}-unapproved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'unapproved')` data-tooltip="Un approved" data-inverted="" disabled)
                                i.close.icon
                            button.ui.icon.button.float-right(class=`${cells[i]["statusCode"]}` id=`${cells[i]["blockId"]}-approved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'approved')` data-tooltip="Approved" data-inverted="" )
                                i.check.icon 
                          else
                            button.ui.icon.button.float-right(class=`${cells[i]["statusCode"]}` id=`${cells[i]["blockId"]}-unapproved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'unapproved')` data-tooltip="Un approved" data-inverted="")
                                i.close.icon
                            button.ui.icon.button.float-right(class=`${cells[i]["statusCode"]}` id=`${cells[i]["blockId"]}-approved` onClick=`verificationUpdate('${cells[i]["blockId"]}', '${dataSets.origins.project.pid}', 'approved')` data-tooltip="Approved" data-inverted="" )
                                i.check.icon 
                          .option(id=`${cells[i]["blockId"]}-codderOption`)
                            button.ui.icon.button.negative.float-right(id=`${cells[i]["blockId"]}-deleteBlock` onClick='deleteBlock()' data-tooltip="Delete Block" data-inverted="")
                                i.minus.icon
                            button.ui.icon.button.blue.float-right(id=`${cells[i]["blockId"]}-addBlock` onClick='addBlock()' data-tooltip="Add Block" data-inverted="")
                                i.plus.icon
                            button.ui.icon.button.positive.float-right(id=`${cells[i]["blockId"]}-run` onClick='runCode()' data-tooltip="Run Code" data-inverted="")
                                i.play.icon
                          
                  
                      .inner_cell
                        .input(id=`${cells[i]["blockId"]}-input`)
                          .input_area(style="margin-top: 8px; padding-left:8em; padding-right:25px; border: 10px; solid #cfcfcf; border-radius: 2px;")
                            textarea(id=`${cells[i]["blockId"]}`).show      
                      if `${cells[i]["outputs"].length}` != 0
                        .output(id=`${cells[i]["blockId"]}-output`)
                          .output_subarea.output_text(style="padding-left:8em; padding-right:25px;")
                            - for(var y = 0; y < `${cells[i]["outputs"].length}`; y++)
                                if `${cells[i]["outputs"][y]["text"].length}` != 0
                                  div(id=i+'-div-output' style="background-color: #f5f5f5; margin-top: 10px;margin-bottom: 1em; padding-left:2em;padding-bottom:1em; padding-right:25px; border: 10px; solid #cfcfcf; border-radius: 2px;")
                                      - for(let z = 0; z < `${cells[i]["outputs"][y]["text"].length}`; z++)
                                        | !{cells[i]["outputs"][y]["text"][z]} <br>  
                input(type='hidden' id='projectFiles' value=`${JSON.stringify(cells)}`)
                input(type='hidden' id='notebookAssingmentId' value=`${dataSets.origins.notebookAssignment.notebook_assignment_id}`)
       


    a.button.ui.labeled.icon.button(href='/classroom?section_id='+dataSets.origins.section.section_id, style='margin-top:20px;')
      i.reply.icon
      font Back

  style(type="text/css").
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      overflow: hidden;
    }

    .CodeMirror-scroll {
      height: auto;
    }

    .CodeMirror-gutters {
      min-height: auto;
    }

    .CodeMirror-gutter {
      height: auto;
    }
  script.
    let user="#{user.username}"
    let uid="#{user._id}"
    
  script(src='/js/static/socket.io.min.js')
  script(src='/xterm/xterm.js')
  script(src='/codemirror/lib/codemirror.js')
  script(src='/codemirror/mode/python/python.js')
  script(src='/js/app/notebookAssignment.js')

