extends layout/layout.pug

block script
  link(rel='stylesheet' href='/css/main.css')
  script(data-status=`${dataSets.origins.status}` src='/js/app/profile.js')

  style.
    @media (max-width: 991px) {
      #dashboardBtn { /* Increased specificity for SO snippet priority */
        width: 100%;
      }
    }

    @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
        position: fixed;
        margin-top: 20px;
        bottom: 0;
        width: 100%;
      }
    }

block content
    .ui.raised.very.padded.text.container.segment
      .ui.grid
        .doubling.two.column.row
          .column
            h1.ui.header Edit your profile
            p Edit your profile in the form below
          .column
            a.ui.right.floated.green.button#dashboardBtn(href=`/profile/dashboard/${dataSets.origins.user.username}`) Dashboard
      if flashes
        .ui.grid
          .sixteen.wide.column
            - const flashTypes = Object.keys(flashes)
            each flashType in flashTypes
              each message in flashes[flashType]
                .ui(class = `${flashType} message`)
                  p!= message
      .ui.grid
        .column
          form.ui.form#profileForm
            h4.ui.dividing.header Access information
            .field#usernameField
              label Subject ID:
              |
              p !{dataSets.origins.subjectId}
            .field#usernameField
              label Username
              |
              p !{dataSets.origins.user.username}
            .field#currentPasswordField
              label Password
              |
              .ui.button#changePasswordBtn(onclick=`openFormToChangePassword(\"${dataSets.origins.user.username}\")`) Change Password
            .field#emailField
              label E-mail
              |
              p !{dataSets.origins.user.email}
              //- input(type='email' name='email' value=user.email)
            h4.ui.dividing.header Personal information
            .field#firstNameField
              label First Name
              |
              p !{dataSets.origins.user.info.firstname}
              //- input(type='text', name='firstname', value=user.info.firstname || '')
            .field#lastNameField
              label Last Name
              |
              p !{dataSets.origins.user.info.lastname}
              //- input(type='text', name='lastname', value=user.info.lastname || '')
            .field#occupationField
              label Occupation
              |
              p !{dataSets.origins.user.info.occupation}
              //- .field
              //-   .ui.radio.checkbox
              //-     input(type='radio' name='occupation' value='student' checked='checked' disabled)
              //-     |  
              //-     label Student
            .field#genderField
              label Gender
              |
              p !{dataSets.origins.user.info.gender}
              //- if user.info.gender === 'male'
              //-   .field
              //-     .ui.radio.checkbox
              //-       input(type='radio', name='gender', value='male', checked='checked' disabled)
              //-       |
              //-       label Male
              //-   .field
              //-     .ui.radio.checkbox
              //-       input(type='radio', name='gender', value='female' disabled)
              //-       |
              //-       label Female
              //- else
              //-   .field
              //-     .ui.radio.checkbox
              //-       input(type='radio', name='gender', value='male' disabled)
              //-       |
              //-       label Male
              //-   .field
              //-     .ui.radio.checkbox
              //-       input(type='radio', name='gender', value='female', checked='checked' disabled)
              //-       |
              //-       label Female
            .ui.divider
            |
            button.ui.button#profileFormBtn(type='button' onclick=`editProfile(\"${dataSets.origins.user.username}\", \"${dataSets.origins.user.email}\", \"${dataSets.origins.user.info.firstname}\", \"${dataSets.origins.user.info.lastname}\")`) Edit Profile
    block footerExtend
