mixin detailSection()
  .five.wide.column
    .ui.segments
      .ui.red.inverted.segment
        .item
          .content
            b(style='font-size:1.2em;')
              header= information_set.common.section.course_name
            .description
              p   Section !{information_set.common.section.section} Room !{information_set.common.section.room}
              p   !{information_set.common.section.day} !{information_set.common.section.time_start} - !{information_set.common.section.time_end}
      .ui.segment
        .ui.items
          .item
            .content
              .description
                case information_set.common.occupation
                  when 0
                    p
                      i.book.icon
                      button.btn.first_container_menu Assignments
                  default
                    p
                      i.file.icon
                      button.btn.first_container_menu Projects
          .item
            .content
              .description
                p
                  i.student.icon
                  button.btn.second_container_menu Students
          .item
            .content
              .description
                case information_set.common.occupation
                  when 0
                    p
                      i.sitemap.icon
                      button.btn.third_container_menu Pairs
                  default
                    p
                      i.book.icon
                      button.btn.third_container_menu Assignments
          case information_set.common.occupation
            when 0
              .item
                .content
                  .description
                    p
                      i.setting.icon
                      button.btn.settings-menu Settings
