mixin partnerSelectionModal()
  .ui.small.modal#select-partner-modal
      i.close.icon
      .header Select partner
      .content
        .ui.top.attached.tabular.menu
          //- a.item.active(data-tab="purpose") Select by purpose
          a.item.active(data-tab="search") Search partner
        //- .ui.bottom.attached.tab.segment.active.purpose-tab(data-tab="purpose")
        //-   a.ui.red.ribbon.label Recommended
        //-   .ui.grid
        //-     .six.wide.column
        //-         #ui-purpose-0.ui-purpose.ui.segment.top.attached.purpose-segment-tab(data-tooltip='The difference of the score is less than 10 points.' data-position='left center')&attributes({'data-purpose':'quality', 'data-uid':user._id, 'data-score':user.avgScore})
        //-           .row
        //-             i.large.circular.inverted.teal.line.chart.icon
        //-           .row
        //-             | Quality oriented
        //-         #ui-purpose-1.ui-purpose.ui.segment.attached.purpose-segment-tab(data-tooltip='The difference of the score is in between 10 to 20 points.' data-position='left center')&attributes({'data-purpose':'experience', 'data-uid':user._id, 'data-score':user.avgScore})
        //-           .row
        //-             i.large.circular.inverted.teal.line.idea.icon
        //-           .row
        //-             | Mutual improvement
        //-         #ui-purpose-2.ui-purpose.ui.segment.bottom.attached.purpose-segment-tab(data-tooltip='The difference of the score is in between 20 to 30 points.' data-position='left center')&attributes({'data-purpose':'train', 'data-uid':user._id, 'data-score':user.avgScore})
        //-           .row
        //-             i.large.circular.inverted.teal.line.student.icon.center.aligned
        //-           .row
        //-             | Teaching &amp; Learning
        //-     .ten.wide.column 
        //-       .ui.circular.labels.your-score-label
        //-           a.ui.red.label Your score #{parseFloat(user.avgScore).toFixed(2)}
        //-       .ui.segment.container.user-purpose.box
        //-         .ui.middle.aligned.animated.list.user-purpose-list
        //-             li.ui.item Please select your purpose.
        .ui.bottom.attached.tab.segment.active.purpose-tab(data-tab="search")
          .ui.grid
            .six.wide.column
              .ui.category.search
                .ui.icon.input
                  input.prompt(type="text" placeholder="Search by username..." id="search-partner-input" onkeyup="searchPartner($(this), \'" + dataSets.origins.section.section_id + "\')")
                  i.search.icon
            .ten.wide.column 
                .ui.segment.container.user-purpose.box
                  .ui.middle.aligned.animated.list.user-list
                    li.ui.item Search result

mixin alertModal()
  .ui.small.modal#alert-modal
    i.close.icon
    .header#alert-header Alert!
    .content
      p#alert-message Something content
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.cancel.green(data-value='cancel') OK

mixin confirmModal()
  .ui.small.modal#confirm-modal
    .header#confirm-header Alert!
    .content
      input#inp_cm(type='hidden')
      p#confirm-message Something message.
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green#confirm-button(type='submit') Confirm
          .ui.button.approve.red#cancel-button(data-value='cancel' onclick='onClickCancelButton()') Cancel

mixin assignmentManagementModal()
  .ui.small.modal#assignment_management_modal
    i.close.icon
    .header#header_amd ปิดการใช้งานแบบฝึกหัด
    .content
      .ui.center.aligned.grid
        .column
          .ui.selection.dropdown#dropdown_amd
            input(id='week_input_amd' type='hidden')
            i.dropdown.icon
            .default.text Week
            .menu#week_amd
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green#confirm_assignment_management(type='submit') Confirm
          button.ui.button.approve.red#cancel_assignment_management(data-value='cancel') Cancel

mixin assignmentSetExpirationTimeModal()
  .ui.small.modal#assignment-set-expiration-time
    i.close.icon
    .header ตั้งค่าเวลาสิ้นสุดแบบฝึกหัด
    .content
      .ui.grid
        .two.column.row
          .column(style='text-align:center;')
            b ปปปป/ดด/วว
            <br>
            .ui.labeled.input
              select.ui.dropdown#year_a(name='year')
                .ui.label
                  b(color='black') /
              select.ui.dropdown#month_a(name='month')
                .ui.label
                  b(color='black') /
              select.ui.dropdown#day_a(name='day')
          .column(style='text-align:center;')
            b ช:น:ว
            <br>
            .ui.labeled.input
              select.ui.dropdown#endTimeHh_a(name='end_time_hh')
              .ui.label
                b(color='black') :
              select.ui.dropdown#endTimeMm_a(name='end_time_mm')
              .ui.label
                b(color='black') :
              select.ui.dropdown#endTimeSs_a(name='end_time_ss')
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green#assign_now(type='submit') Assign now!
          .ui.button.cancel.red(data-value='cancel') Cancel 

mixin settingsModal()
  .ui.small.modal#settings-modal
    i.close.icon
    .header Settings Classroom
    .content
      form.ui.form.updateSection.segment(action='/classroom/updateSection' method='POST')
        .field
          label Class Name :
          |
          input(type='text' name='course_name' placeholder='Your class name', value=`${dataSets.origins.section.course_name}`)
        .ui.grid
          .two.column.row
            .column
              .field
                label Section :
                |
                input(type='text' name='section' placeholder='Your section' maxlength='3', value=`${dataSets.origins.section.section}`)
            .column
              .field
                label Room :
                |
                input(type='text' name='room' placeholder='Your room' maxlength='4', value=`${dataSets.origins.section.room}`)
        .ui.grid
          .four.wide.column
            .field
              label Day  :
              select.ui.fluid.dropdown.day(name='day')
                option(value='Mon.') Monday
                option(value='Tue.') Tuesday
                option(value='Wed.') Wednesday
                option(value='Thu.') Thursday
                option(value='Fri.') Friday
                option(value='Sat.') Saturday
                option(value='Sun.') Sunday
          .six.wide.column(style='text-align:center;')
            b Time start
            .ui.labeled.input
              select.ui.fluid.dropdown.timeStartHh(name='time_start_hh')
                option(value='00')  00
                option(value='01')  01
                option(value='02')  02
                option(value='03')  03
                option(value='04')  04
                option(value='05')  05
                option(value='06')  06
                option(value='07')  07
                option(value='08')  08
                option(value='09')  09
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
              .ui.label
                b(color='black') :
              select.ui.fluid.dropdown.timeStartMm(name='time_start_mm')
                option(value='00')  00
                option(value='05')  05
                option(value='10')  10
                option(value='15')  15
                option(value='20')  20
                option(value='25')  25
                option(value='30')  30
                option(value='35')  35
                option(value='40')  40
                option(value='45')  45
                option(value='50')  50
                option(value='55')  55
              select.ui.fluid.dropdown.timeStartAp(name='time_start_ap')
                option(value='am.')  am.
                option(value='pm.')  pm.
          .six.wide.column(style='text-align:center;')
            b Time end
            <br>
            .ui.labeled.input
              select.ui.fluid.dropdown.timeEndHh(name='time_end_hh')
                option(value='00')  00
                option(value='01')  01
                option(value='02')  02
                option(value='03')  03
                option(value='04')  04
                option(value='05')  05
                option(value='06')  06
                option(value='07')  07
                option(value='08')  08
                option(value='09')  09
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
              .ui.label
                b(color='black') :
              select.ui.fluid.dropdown.timeEndMm(name='time_end_mm')
                option(value='00')  00
                option(value='05')  05
                option(value='10')  10
                option(value='15')  15
                option(value='20')  20
                option(value='25')  25
                option(value='30')  30
                option(value='35')  35
                option(value='40')  40
                option(value='45')  45
                option(value='50')  50
                option(value='55')  55
              select.ui.fluid.dropdown.timeEndAp(name='time_end_ap')
                option(value='am.')  am.
                option(value='pm.')  pm.
        input(type='hidden' name='course_id', value=`${dataSets.origins.section.course_id}`)
        input(type='hidden' name='section_id', value=`${dataSets.origins.section.section_id}`)
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green(type='submit') Confirm
            .ui.button.cancel.red(data-value='cancel') Cancel
        .ui.error.message

mixin assignmentModal()
  .ui.small.modal#assignment-modal
    i.close.icon
    .header Assignment
    .content
      form.ui.form.segment#assignmentForm
        .inline.fields
          label Programming Style :
          select.ui.fluid.dropdown(name='programming_style')
            option(value='Remote') Remote Pair-programming
            option(value='Co-located') Conventional Pair-programming
            option(value='Individual') Individual Programming
          //- .field
          //-   .ui.radio.checkbox
          //-     input#psCo-located(type='radio' name='programming_style' value='Co-located' checked='checked')
          //-     |  
          //-     label Conventional Pair-Programming
          //- .field
          //-   .ui.radio.checkbox
          //-     input#psRemote(type='radio' name='programming_style' value='Remote')
          //-     |  
          //-     label Remote Pair-Programming
          //- .field
          //-   .ui.radio.checkbox
          //-     input#psIndividual(type='radio' name='programming_style' value='Individual')
          //-     |
          //-     label Individual Programming
          //- .field
          //-   .ui.radio.checkbox
          //-     input#psInteractive(type='radio' name='programming_style' value='Interactive')
          //-     |
          //-     label Interactive Programming
        .ui.grid
          .thirteen.wide.column
            .field
              label Title :
              |
              input#assTitle(type='text' name='title' placeholder='Your title')
          .three.wide.column
            .field
              label Week :
              |
              input#assWeek(type='text' name='week' placeholder='Week' maxlength='3')
        .ui.grid
          //- .row
          //-   .thirteen.wide.column
          //-     input.file#imgSel(type='file')
          //-   .three.wide.column
          //-     .ui.blue.button#insertPicture(style="width:100%; height:85%;") Insert
          .row
            .sixteen.wide.column
              .field
                label Description :
                |
                textarea#assignmentDesc(type='text' name='description' placeholder='Some content...')
        .ui.grid#ioSpecificationGrid
          .two.column.row
            .column
              .field
                label Input Specification :
                |
                textarea#assInSpecify(row='1' type='text' name='input_specification' placeholder='Input Specification...')
            .column
              .field
                label Output Specification :
                |
                textarea#assOutSpecify(row='1' type='text' name='output_specification' placeholder='Output Specification...')
          .one.column.row#ioSpecificationBtnRow
            .column
              .ui.blue.button(onclick='addIOSpecification()' style="width:100%;") Add
        .ui.grid
          .two.column.row
            .column
              .field
                label Sample Input :
                |
                textarea#assSamInput(row='1' type='text' name='sample_input' placeholder='Sample Input...')
            .column
              .field
                label Sample Output :
                |
                textarea#assSamOutput(row='1' type='text' name='sample_output' placeholder='Sample Output...')
          .one.column.row#sampleIOBtnRow
            .column
              .ui.blue.button(onclick='addSampleIO()' style="width:100%;") Add
        input(type='hidden' name='sectionId', value=`${dataSets.origins.section.section_id}`)
        .ui.two.column.grid
          .floated.left.aligned.column
            .ui.blue.button#centerBtn(type='button' onclick='previewAssignmentForm()') Preview
          .floated.right.aligned.column
            .ui.green.submit.button#rightBtn(type='button' onclick='createAssignment()') Confirm
        .ui.error.message

mixin newClassroomModal()
  .ui.small.modal#newClassroom-modal
    i.close.icon
    .header Create New Classroom
    .content
      form.ui.form.segment(action='/classroom' method='POST')
        .field
          label Class Name :
          |
          input(type='text' name='course_name' placeholder='Your class name')
        .ui.grid
          .two.column.row
            .column
              .field
                label Section :
                |
                input(type='text' name='section' placeholder='Your section' maxlength='3')
            .column
              .field
                label Room :
                |
                input(type='text' name='room' placeholder='Your room' maxlength='4')
        .ui.grid
          .four.wide.column
            .field
              |
              label Day  :
              select.ui.fluid.dropdown.day(name='day')
                option(value='Mon.') Monday
                option(value='Tue.') Tuesday
                option(value='Wed.') Wednesday
                option(value='Thu.') Thursday
                option(value='Fri.') Friday
                option(value='Sat.') Saturday
                option(value='Sun.') Sunday
          .six.wide.column(style='text-align:center;')
            b Time start
            .ui.labeled.input
              select.ui.fluid.dropdown.timeStartHh(name='time_start_hh')
                option(value='01')  01
                option(value='02')  02
                option(value='03')  03
                option(value='04')  04
                option(value='05')  05
                option(value='06')  06
                option(value='07')  07
                option(value='08')  08
                option(value='09')  09
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
              .ui.label
                b(color='black') :
              select.ui.fluid.dropdown.timeStartMm(name='time_start_mm')
                option(value='00')  00
                option(value='05')  05
                option(value='10')  10
                option(value='15')  15
                option(value='20')  20
                option(value='25')  25
                option(value='30')  30
                option(value='35')  35
                option(value='40')  40
                option(value='45')  45
                option(value='50')  50
                option(value='55')  55
              select.ui.fluid.dropdown.timeStartAp(name='time_start_ap')
                option(value='am.')  am.
                option(value='pm.')  pm.
          .six.wide.column(style='text-align:center;')
            b Time end
            .ui.labeled.input
              select.ui.fluid.dropdown.timeEndHh(name='time_end_hh')
                option(value='01')  01
                option(value='02')  02
                option(value='03')  03
                option(value='04')  04
                option(value='05')  05
                option(value='06')  06
                option(value='07')  07
                option(value='08')  08
                option(value='09')  09
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
              .ui.label
                b(color='black') :
              select.ui.fluid.dropdown.timeEndMm(name='time_end_mm')
                option(value='00')  00
                option(value='05')  05
                option(value='10')  10
                option(value='15')  15
                option(value='20')  20
                option(value='25')  25
                option(value='30')  30
                option(value='35')  35
                option(value='40')  40
                option(value='45')  45
                option(value='50')  50
                option(value='55')  55
              select.ui.fluid.dropdown.timeEndAp(name='time_end_ap')
                option(value='am.')  am.
                option(value='pm.')  pm.
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green(type='submit') Create
            .ui.button.cancel.red(data-value='cancel') Cancel
        .ui.error.message

mixin joinClassroomModal()
  .ui.mini.modal#joinClassroom-modal
    i.close.icon
    .header Join Classroom
    .content
      form.ui.form(action='/classroom/joinClass' method='POST')
        .field
          |
          input(type='text' name='class_code' placeholder='Classroom code' maxlength='9')
        .ui.basic.center.aligned.segment
          .actions
            button.ui.button.approve.green(type='submit') Join
            .ui.button.approve.red(data-value='cancel') Cancel

mixin confirmDeleteSection()
  .ui.small.modal#confirmDeleteSection
    i.close.icon
    .header Delete Section
    .content
      p#messageConfirm Are you sure to delete the section from the system?
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green#confirmToDeleteSection Yes
          .ui.button.cancel.red No

mixin pairingSettingsModal()
  .ui.small.modal#pairingSettingsModal
    .header Auto pairing
    .content
      .ui.top.attached.tabular.menu
        a.item.active.apsm#aPurpose(data-tab="purpose" onclick='onClickAutoPairingSelectionMethod('+`$(this).attr('id')`+')') Auto by purpose
        a.item.apsm#aScoreDiff(data-tab="scoreDiff" onclick='onClickAutoPairingSelectionMethod('+`$(this).attr('id')`+')') Auto by score difference
      .ui.bottom.attached.tab.segment.active.apsm.aPurpose(data-tab="purpose" onclick='onClickAutoPairingTab()')
        .ui.two.column.very.relaxed.grid
          .column#traditionalPairingPrinciple
            p(style='text-align:center;') Traditional Pairing Principle
            .ui.column.grid
              .column
                .field
                  .ui.radio.checkbox
                    input#expertWithExpert(type='radio' name='pairingPrinciple' value='expertWithExpert' checked)
                    |
                    label Expert - Expert
                .field
                  .ui.radio.checkbox
                    input#expertWithNovice(type='radio' name='pairingPrinciple' value='expertWithNovice')
                    |  
                    label Expert - Novice
                .field
                  .ui.radio.checkbox
                    input#noviceWithNovice(type='radio' name='pairingPrinciple' value='noviceWithNovice')
                    |  
                    label Novice - Novice
          .column#newPairingPrinciple
            p(style='text-align:center;') New Pairing Principle
            .ui.column.grid
              .column
                .field
                  .ui.radio.checkbox
                    input#qualityOriented(type='radio' name='pairingPrinciple' value='qualityOriented')
                    |  
                    label Quality Oriented
                .field
                  .ui.radio.checkbox
                    input#teachingAndLearning(type='radio' name='pairingPrinciple' value='teachingAndLearning')
                    |  
                    label Teaching &amp; Learning
                .field
                  .ui.radio.checkbox
                    input#mutualLearning(type='radio' name='pairingPrinciple' value='mutualLearning')
                    |  
                    label Mutual Improvement
        .ui.vertical.divider
          p And
      .ui.bottom.attached.tab.segment.apsm.aScoreDiff(data-tab="scoreDiff" onclick='onClickAutoPairingTab()')
        label
        | Score difference : 
        .ui.input
          input#scoreDiffField(type='text' name='scoreDiffField' placeholder='100')
      .ui.basic.center.aligned.segment
        .actions
          .ui.approve.green.button#startAutoPairingBtn(onclick='onClickStartAutoPairingBtn(null, null, null, null, null, null)') Start
          .ui.deny.red.button#cancelAutoPairingBtn Cancel

mixin exportingFile()
  .ui.small.modal#exportingFileModal
    .header Exporting File
    .content
      .ui.doubling.one.column.grid
        .column
          h1(style="text-align:center;") Extension
        .column
          .ui.grid
            .doubling.eight.column.row
              .column
                .ui.checkbox
                  input(type="checkbox" id="JSON")
                  label JSON
              .column
                .ui.checkbox
                  input(type="checkbox" id="CSV")
                  label CSV
      .ui.basic.center.aligned.segment
        .actions
          .ui.approve.green.button Download
          .ui.deny.red.button Cancel